div.AG6-NES   /**********FULL block***********/
{
  position: absolute;
  top: 16600px;
  
}

h2.AG6-NES-Title
{
  font-size: 2.6em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 10px;
  /* margin-top: 225px; */

  border-radius: 3px;
  border-top: double 8px rgb(65, 0, 89);
  border-bottom: double 8px rgb(65, 0, 89);
  background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1175px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform: translateX(3%);
  text-align: center;
  white-space: nowrap;
}

h2.AG6-NES-subT
{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 5px;

  border:2px solid #145858;
  border-radius: 3px;
  border-color: black;
  background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1273px; /*The higher the px, the lower down the page */
  transform: translateX(24%);
  text-align: center;
  white-space: nowrap;

}

/**********************************************EFFECTS**********************************************/

div.AG6-Eff     /**********Effects Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #b883d7;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  
  position: absolute;
  left: 50%;
  top: 1362px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(15%);
  text-align: center;
  white-space: nowrap;

  width: 532px;
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.AG6-CF /**********Cog Health BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: #d9a2ea;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 233.5px;  /******630px in total******/

  margin-left: 100px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-CFT     /********Cog Function TITLE*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center; 

  margin-top: 5px;

}

p.AG6-CFP /**********Cog Function PARAGRAPGH**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Emotional well-being****************/

div.AG6-MC /**********Emotional well-being BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2bbed;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 334px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-MCT     /********Emotional well-being Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG6-MCP /**********Emotional well-being paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/*********************Accidents***************/

div.AG6-HR /**********Academic Performance block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2c8e7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 215px;  /******630px in total******/

  margin-left: 535px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-HRT     /********Academic Performance Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

ul.AG6-HRP /**********Academic Performance paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: left;

margin-left: -27px;
margin-top: -12px;

list-style-type: none;
word-wrap: break-word;
}


/*****************************************CAUSES / FACTORS**********************************************/

div.AG6-Causes /**********Causes Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #ef89ce;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 535px;
  
  position: absolute;
  left: 50%;
  top: 1362px; 
  transform:translateX(119%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black

}

/***************************Nighttime Fears****************/

div.AG6-ST /**********Nighttime Fears block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #f0a4d8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 781px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-STT     /********Nighttime Fears Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG6-STP /**********Nighttime Fears paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}


/***************************Lifestyle****************/

div.AG6-Ls /**********Lifestyle block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e7b2d7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 222px;  /******630px in total******/

  margin-left: 981px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-LsT     /********Lifestyle Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG6-LsP /**********Overstimulation paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;

}


/*******************Routine Change******************/

div.AG6-WRS /**********Routine Change block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #ebc8e3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 230px;  /******630px in total******/

  margin-left: 1203px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-WRST     /********Routine Change Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG6-WRSP /**********Routine Change paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}


/*************************************************Tips*************************************************/

div.AG6-Tips     /**********Consistent Routine Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #887fdb;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 590px;
  
  position: absolute;
  left: 50%;
  top: 1692px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(62%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.AG6-SM                           /**********Mood and Beh block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #a39ce3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 251px;  /******630px in total******/

  margin-left: 440px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-SMT     /********Mood and Beh Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

ul.AG6-SMP /**********Mood and Beh paragraph**************/
{
  font-size: 1.3em;
  font-family: monospace;
  text-align: left;

  margin-left: -27px;
  margin-top: -12px;
  list-style-type: none;

  word-wrap: break-word;
}

/********************Environment****************/

div.AG6-Env /**********Environment block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #bcb7e8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 211px;  /******630px in total******/

  margin-left: 692px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-EnvT     /************Environment Title*************/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG6-EnvP /*************Environment paragraph****************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Limit Screen Time ****************/

div.AG6-LS /**********Limit Screen Time block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #d1ceee;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 245px;  /******630px in total******/

  margin-left: 903px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-LST     /********Limit Screen Time  Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG6-LSP /**********Limit Screen Time  paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}



/**************************************************AG6-ES****************************************/
/**************************************************AG6-ES****************************************/
/**************************************************AG6-ES****************************************/
/**************************************************AG6-ES****************************************/
/**************************************************AG6-ES****************************************/
/**************************************************AG6-ES****************************************/

div.AG6-ES   /**********FULL block***********/
{
  position: absolute;
  top: 17700px;
}

h2.AG6-ES-Title
{
  font-size: 2.6em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 10px;
  /* margin-top: 225px; */

  border-radius: 3px;
  border-top: double 8px rgb(65, 0, 89);
  border-bottom: double 8px rgb(65, 0, 89);
  background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1175px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform: translateX(10%);
  text-align: center;
  white-space: nowrap;
}


h2.AG6-ES-subT
{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 5px;

 border:2px solid #145858;
 border-radius: 3px;
 border-color: black;
 background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1273px; /*The higher the px, the lower down the page */
  transform: translateX(22%);
  text-align: center;
  white-space: nowrap;

}


/*************************************************DOES**********************************************/

div.AG6-Does     /**********Does Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #b883d7;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  
  position: absolute;
  left: 50%;
  top: 1362px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(15%);
  text-align: center;
  white-space: nowrap;

  width: 532px;
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.AG6-CFu /**********Cognitive Development BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: #d9a2ea;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 233.5px;  /******630px in total******/

  margin-left: 100px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-CFuT     /********Cognitive Development TITLE*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  text-align: center;
  margin-top: 5px;

}

p.AG6-CFuP /**********Cognitive Development PARAGRAPGH**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;


word-wrap: break-word;
}

/********************Emotional Regulation****************/

div.AG6-MH /**********Emo Reg BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2bbed;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 334px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-MHT     /********Emo Reg Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

ul.AG6-MHP /**********Emo Reg paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: left;

margin-left: -27px;
margin-top: -12px;

list-style-type: none;

word-wrap: break-word;
}

/********************Physical Growth****************/

div.AG6-PH /**********Physical Health block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2c8e7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 215px;  /******630px in total******/

  margin-left: 535px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-PHT     /********Physical Health Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

ul.AG6-PHP /**********Physical Health paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: left;

margin-left: -27px;
margin-top: -12px;

list-style-type: none;

word-wrap: break-word;
}







/*****************************************MAINTAIN**********************************************/

div.AG6-Maintain /**********Maintain Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #ef89ce;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 535px;
  
  position: absolute;
  left: 50%;
  top: 1362px; 
  transform:translateX(119%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black

}


/***************************Consistency****************/

div.AG6-Con /**********Cons block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #f0a4d8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 781px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-ConT     /********Cons Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG6-ConP /**********Cons paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}



/***************************Monitoring****************/

div.AG6-Mon /**********Monitoring block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e7b2d7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 222px;  /******630px in total******/

  margin-left: 981px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-MonT     /********Mon Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG6-MonP /**********Mon paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;

}



/*******************Addressing******************/

div.AG6-Add /**********Addressing block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #ebc8e3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 230px;  /******630px in total******/

  margin-left: 1203px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-AddT     /********Add Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

ul.AG6-AddP /**********Add paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: left;

margin-left: -27px;
margin-top: -12px;

list-style-type: none;

word-wrap: break-word;
}



/*************************************************BENEFITS*************************************************/

div.AG6-Benefits     /**********Mood and Behaviour Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #887fdb;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 590px;
  
  position: absolute;
  left: 50%;
  top: 1692px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(62%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.AG6-MMH                            /**********Improved Behaviour block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #a39ce3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 251px;  /******630px in total******/

  margin-left: 440px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-MMHT     /********Improved Behaviour Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

ul.AG6-MMHP /**********Improved Behaviour paragraph**************/
{
  font-size: 1.3em;
  font-family: monospace;
  text-align: left;

  margin-left: -27px;
  margin-top: -12px;

  list-style-type: none;
  
  word-wrap: break-word;
}

/********************Immune System****************/

div.AG6-OH /**********Immune System block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #bcb7e8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 211px;  /******630px in total******/

  margin-left: 692px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-OHT     /************Immune System Title*******8******/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG6-OHP /*************Immune System paragraph****************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Learning and Memory****************/

div.AG6-CoF /**********Learning and Memory block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #d1ceee;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 245px;  /******630px in total******/

  margin-left: 903px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG6-CoFT     /********Learning and Memory Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG6-CoFP /**********Learning and Memory paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;


word-wrap: break-word;
}


/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/



div.TMS6   /**********FULL block***********/
{
  position: absolute;
  top: 18800px; 
}

h2.TMS6-Title
{
  font-size: 2.6em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 10px;
  /* margin-top: 225px; */

  border-radius: 3px;
  border-top: double 8px rgb(65, 0, 89);
  border-bottom: double 8px rgb(65, 0, 89);
  background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1175px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform: translateX(7%);
  text-align: center;
  white-space: nowrap;
}


h2.TMS6-subT
{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 5px;

 border:2px solid #145858;
 border-radius: 3px;
 border-color: black;
 background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1273px; /*The higher the px, the lower down the page */
  transform: translateX(23%);
  text-align: center;
  white-space: nowrap;

}

/*************************************************EFFECT**********************************************/


div.TMS6-Eff     /**********Does Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #b883d7;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  
  position: absolute;
  left: 50%;
  top: 1362px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(15%);
  text-align: center;
  white-space: nowrap;

  width: 532px;
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.TMS6-CF /**********Behavioural Issues BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: #d9a2ea;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 233.5px;  /******630px in total******/

  margin-left: 100px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS6-CFT     /********Behavioural Issues TITLE*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  text-align: center;
  margin-top: 5px;

}

p.TMS6-CFP /**********Behavioural Issues PARAGRAPGH**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Mood Chnages****************/

div.TMS6-MH /**********Mood Chnages BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2bbed;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 334px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS6-MHT     /********Mood Changes Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS6-MHP /**********Mood Changes paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Cognitive Function****************/

div.TMS6-PH /**********Cognitive Function block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2c8e7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 215px;  /******630px in total******/

  margin-left: 535px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS6-PHT     /********Cognitive Function Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS6-PHP /**********Cognitive Function paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}




/*****************************************CAUSES / FACTORS**********************************************/

div.TMS6-Causes /**********Causes Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #ef89ce;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 535px;
  
  position: absolute;
  left: 50%;
  top: 1362px; 
  transform:translateX(119%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black

}


/***************************Separation Anxiety****************/

div.TMS6-SD /**********Separation Anxiety block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #f0a4d8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 781px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS6-SDT     /********Separation Anxiety Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS6-SDP /**********Separation Anxiety paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}



/***************************Teething****************/

div.TMS6-PL /**********Teething block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e7b2d7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 222px;  /******630px in total******/

  margin-left: 981px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS6-PLT     /********Teething Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS6-PLP /**********Teething paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;

}



/*******************Routine Change******************/

div.TMS6-WRS /**********Addressing block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #ebc8e3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 230px;  /******630px in total******/

  margin-left: 1203px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS6-WRST     /********Routine Change Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  text-align: center;
  margin-top: 5px;

}

p.TMS6-WRSP /**********Routine Change paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

list-style-type: none;
word-wrap: break-word;
}



/*************************************************TIPS*************************************************/

div.TMS6-Tips     /**********Tips Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #887fdb;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 590px;
  
  position: absolute;
  left: 50%;
  top: 1692px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(62%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.TMS6-SS                            /**********Consistent Routine block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #a39ce3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 251px;  /******630px in total******/

  margin-left: 440px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS6-SST     /********Consistent Routine Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS6-SSP /**********Consistent Routine paragraph**************/
{
  font-size: 1.3em;
  font-family: monospace;
  text-align: center;
  
  word-wrap: break-word;
}

/********************Environment****************/

div.TMS6-Env /**********Environment block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #bcb7e8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 211px;  /******630px in total******/

  margin-left: 692px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS6-EnvT     /************Environment Title*******8******/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS6-EnvP /*************Environment paragraph****************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Limit Screen Time****************/

div.TMS6-Ls /**********Limit Screen Time block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #d1ceee;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 245px;  /******630px in total******/

  margin-left: 903px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS6-LsT     /********Limit Screen Time Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS6-LsP /**********Limit Screen Time paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;


word-wrap: break-word;
}