div.AG2-NES   /**********FULL block***********/
{
 position: absolute;
 top: 3400px;
}

h2.AG2-NES-Title
{
  font-size: 2.6em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 10px;
  /* margin-top: 225px; */

  border-radius: 3px;
  border-top: double 8px rgb(65, 0, 89);
  border-bottom: double 8px rgb(65, 0, 89);
  background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1175px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform: translateX(1%);
  text-align: center;
  white-space: nowrap;
}


h2.AG2-NES-subT
{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 5px;

 border:2px solid #145858;
 border-radius: 3px;
 border-color: black;
 background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1273px; /*The higher the px, the lower down the page */
  transform: translateX(22%);
  text-align: center;
  white-space: nowrap;

}

/*************************************************EFFECT**********************************************/


div.AG2-Eff     /**********Does Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #b883d7;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  
  position: absolute;
  left: 50%;
  top: 1362px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(15%);
  text-align: center;
  white-space: nowrap;

  width: 532px;
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.AG2-BeI /**********Behavioural Issues BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: #d9a2ea;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 233.5px;  /******630px in total******/

  margin-left: 100px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-BeIT     /********Behavioural Issues TITLE*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  text-align: center;
  margin-top: 5px;

}

ul.AG2-BeIP /**********Behavioural Issues PARAGRAPGH**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: left;

margin-left: -27px;
margin-top: -12px;
list-style-type: none;

word-wrap: break-word;
}

/********************Mood Chnages****************/

div.AG2-MC /**********Mood Chnages BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2bbed;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 334px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-MCT     /********Mood Changes Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-MCP /**********Mood Changes paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Cognitive Function****************/

div.AG2-CoF /**********Cognitive Function block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2c8e7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 215px;  /******630px in total******/

  margin-left: 535px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-CoFT     /********Cognitive Function Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-CoFP /**********Cognitive Function paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}







/*****************************************CAUSES / FACTORS**********************************************/

div.AG2-Causes /**********Causes Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #ef89ce;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 535px;
  
  position: absolute;
  left: 50%;
  top: 1362px; 
  transform:translateX(119%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black

}


/***************************Separation Anxiety****************/

div.AG2-SeA /**********Separation Anxiety block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #f0a4d8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 781px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-SeAT     /********Separation Anxiety Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-SeAP /**********Separation Anxiety paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}



/***************************Teething****************/

div.AG2-Teething /**********Teething block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e7b2d7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 222px;  /******630px in total******/

  margin-left: 981px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-TeethingT     /********Teething Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-TeethingP /**********Teething paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;

}



/*******************Routine Change******************/

div.AG2-RoC /**********Addressing block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #ebc8e3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 230px;  /******630px in total******/

  margin-left: 1203px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-RoCT     /********Routine Change Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  text-align: center;
  margin-top: 5px;

}

ul.AG2-RoCP /**********Routine Change paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: left;

margin-left: -27px;
margin-top: -12px;

list-style-type: none;
word-wrap: break-word;
}



/*************************************************TIPS*************************************************/

div.AG2-Tips     /**********Tips Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #887fdb;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 590px;
  
  position: absolute;
  left: 50%;
  top: 1692px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(62%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.AG2-CoR                            /**********Consistent Routine block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #a39ce3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 251px;  /******630px in total******/

  margin-left: 440px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-CoRT     /********Consistent Routine Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-CoRP /**********Consistent Routine paragraph**************/
{
  font-size: 1.3em;
  font-family: monospace;
  text-align: center;
  
  word-wrap: break-word;
}

/********************Environment****************/

div.AG2-Env /**********Environment block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #bcb7e8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 211px;  /******630px in total******/

  margin-left: 692px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-EnvT     /************Environment Title*******8******/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-EnvP /*************Environment paragraph****************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Limit Screen Time****************/

div.AG2-LST /**********Limit Screen Time block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #d1ceee;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 245px;  /******630px in total******/

  margin-left: 903px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-LSTT     /********Limit Screen Time Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-LSTP /**********Limit Screen Time paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;


word-wrap: break-word;
}


/*-----------------------------------------------AG2 ES------------------------------------------------------>*/
/*-----------------------------------------------AG2 ES------------------------------------------------------>*/
/*-----------------------------------------------AG2 ES------------------------------------------------------>*/
/*-----------------------------------------------AG2 ES------------------------------------------------------>*/
/*-----------------------------------------------AG2 ES------------------------------------------------------>*/



div.AG2-ES   /**********FULL block***********/
{
 position: absolute;
 top: 4500px;
}

h2.AG2-ES-Title
{
  font-size: 2.6em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 10px;
  /* margin-top: 225px; */

  border-radius: 3px;
  border-top: double 8px rgb(65, 0, 89);
  border-bottom: double 8px rgb(65, 0, 89);
  background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1175px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform: translateX(13%);
  text-align: center;
  white-space: nowrap;
}


h2.AG2-ES-subT
{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 5px;

 border:2px solid #145858;
 border-radius: 3px;
 border-color: black;
 background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1273px; /*The higher the px, the lower down the page */
  transform: translateX(20%);
  text-align: center;
  white-space: nowrap;

}


/*************************************************DOES**********************************************/

div.AG2-Does     /**********Does Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #b883d7;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  
  position: absolute;
  left: 50%;
  top: 1362px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(15%);
  text-align: center;
  white-space: nowrap;

  width: 532px;
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.AG2-LD /**********Language Development BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: #d9a2ea;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 233.5px;  /******630px in total******/

  margin-left: 100px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-LDT     /********Language Development TITLE*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-LDP /**********Language Development PARAGRAPGH**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;


word-wrap: break-word;
}

/********************Emotional Regulation****************/

div.AG2-ER /**********Emo Reg BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2bbed;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 334px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-ERT     /********Emo Reg Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-ERP /**********Emo Reg paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Physical Growth****************/

div.AG2-PG /**********Physical Growth block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2c8e7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 215px;  /******630px in total******/

  margin-left: 535px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-PGT     /********Physical Growth Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-PGP /**********Physical Growth paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}







/*****************************************MAINTAIN**********************************************/

div.AG2-Maintain /**********Maintain Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #ef89ce;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 535px;
  
  position: absolute;
  left: 50%;
  top: 1362px; 
  transform:translateX(119%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black

}


/***************************Consistency****************/

div.AG2-Con /**********Cons block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #f0a4d8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 781px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-ConT     /********Cons Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-ConP /**********Cons paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}



/***************************Monitoring****************/

div.AG2-Mon /**********Monitoring block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e7b2d7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 222px;  /******630px in total******/

  margin-left: 981px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-MonT     /********Mon Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-MonP /**********Mon paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;

}



/*******************Addressing******************/

div.AG2-Add /**********Addressing block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #ebc8e3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 230px;  /******630px in total******/

  margin-left: 1203px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-AddT     /********Add Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-AddP /**********Add paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}



/*************************************************BENEFITS*************************************************/

div.AG2-Benefits     /**********Mood and Behaviour Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #887fdb;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 590px;
  
  position: absolute;
  left: 50%;
  top: 1692px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(62%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.AG2-ImB                            /**********Improved Behaviour block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #a39ce3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 251px;  /******630px in total******/

  margin-left: 440px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-ImBT     /********Improved Behaviour Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-ImBP /**********Improved Behaviour paragraph**************/
{
  font-size: 1.3em;
  font-family: monospace;
  text-align: center;
  
  word-wrap: break-word;
}

/********************Immune System****************/

div.AG2-IS /**********Immune System block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #bcb7e8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 211px;  /******630px in total******/

  margin-left: 692px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-IST     /************Immune System Title*******8******/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-ISP /*************Immune System paragraph****************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Learning and Memory****************/

div.AG2-LaM /**********Learning and Memory block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #d1ceee;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 245px;  /******630px in total******/

  margin-left: 903px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG2-LaMT     /********Learning and Memory Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG2-LaMP /**********Learning and Memory paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;


word-wrap: break-word;
}



/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/

div.TMS2   /**********FULL block***********/
{
 position: absolute;
 top: 5600px;
}

h2.TMS2-Title
{
  font-size: 2.6em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 10px;
  /* margin-top: 225px; */

  border-radius: 3px;
  border-top: double 8px rgb(65, 0, 89);
  border-bottom: double 8px rgb(65, 0, 89);
  background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1175px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform: translateX(6%);
  text-align: center;
  white-space: nowrap;
}


h2.TMS2-subT
{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 5px;

 border:2px solid #145858;
 border-radius: 3px;
 border-color: black;
 background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1273px; /*The higher the px, the lower down the page */
  transform: translateX(23%);
  text-align: center;
  white-space: nowrap;

}

/*************************************************EFFECT**********************************************/


div.TMS2-Eff     /**********Does Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #b883d7;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  
  position: absolute;
  left: 50%;
  top: 1362px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(15%);
  text-align: center;
  white-space: nowrap;

  width: 532px;
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.TMS2-DD /**********Behavioural Issues BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: #d9a2ea;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 233.5px;  /******630px in total******/

  margin-left: 100px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS2-DDT     /********Behavioural Issues TITLE*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  text-align: center;
  margin-top: 5px;

}

p.TMS2-DDP /**********Behavioural Issues PARAGRAPGH**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Mood Chnages****************/

div.TMS2-Be /**********Mood Chnages BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2bbed;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 334px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS2-BeT     /********Mood Changes Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS2-BeP /**********Mood Changes paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Cognitive Function****************/

div.TMS2-Di /**********Cognitive Function block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2c8e7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 215px;  /******630px in total******/

  margin-left: 535px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS2-DiT     /********Cognitive Function Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS2-DiP /**********Cognitive Function paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}




/*****************************************CAUSES / FACTORS**********************************************/

div.TMS2-Causes /**********Causes Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #ef89ce;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 535px;
  
  position: absolute;
  left: 50%;
  top: 1362px; 
  transform:translateX(119%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black

}


/***************************Separation Anxiety****************/

div.TMS2-FN /**********Separation Anxiety block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #f0a4d8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 781px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS2-FNT     /********Separation Anxiety Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS2-FNP /**********Separation Anxiety paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}



/***************************Teething****************/

div.TMS2-Ov /**********Teething block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e7b2d7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 222px;  /******630px in total******/

  margin-left: 981px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS2-OvT     /********Teething Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS2-OvP /**********Teething paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;

}



/*******************Routine Change******************/

div.TMS2-Te /**********Addressing block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #ebc8e3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 230px;  /******630px in total******/

  margin-left: 1203px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS2-TeT     /********Routine Change Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  text-align: center;
  margin-top: 5px;

}

p.TMS2-TeP /**********Routine Change paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

list-style-type: none;
word-wrap: break-word;
}



/*************************************************TIPS*************************************************/

div.TMS2-Tips     /**********Tips Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #887fdb;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 590px;
  
  position: absolute;
  left: 50%;
  top: 1692px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(62%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.TMS2-SS                            /**********Consistent Routine block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #a39ce3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 251px;  /******630px in total******/

  margin-left: 440px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS2-SST     /********Consistent Routine Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS2-SSP /**********Consistent Routine paragraph**************/
{
  font-size: 1.3em;
  font-family: monospace;
  text-align: center;
  
  word-wrap: break-word;
}

/********************Environment****************/

div.TMS2-Ac /**********Environment block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #bcb7e8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 211px;  /******630px in total******/

  margin-left: 692px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS2-AcT     /************Environment Title*******8******/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS2-AcP /*************Environment paragraph****************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Limit Screen Time****************/

div.TMS2-BR /**********Limit Screen Time block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #d1ceee;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 245px;  /******630px in total******/

  margin-left: 903px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS2-BRT     /********Limit Screen Time Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS2-BRP /**********Limit Screen Time paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;


word-wrap: break-word;
}