div.AG4-NES   /**********FULL block***********/
{
   position: absolute;
   top: 10000px; 
  
}

h2.AG4-NES-Title
{
  font-size: 2.6em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 10px;
  /* margin-top: 225px; */

  border-radius: 3px;
  border-top: double 8px rgb(65, 0, 89);
  border-bottom: double 8px rgb(65, 0, 89);
  background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1175px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform: translateX(-1%);
  text-align: center;
  white-space: nowrap;
}

h2.AG4-NES-subT
{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 5px;

  border:2px solid #145858;
  border-radius: 3px;
  border-color: black;
  background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1273px; /*The higher the px, the lower down the page */
  transform: translateX(23%);
  text-align: center;
  white-space: nowrap;

}

/**********************************************EFFECTS**********************************************/

div.AG4-Eff     /**********Effects Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #b883d7;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  
  position: absolute;
  left: 50%;
  top: 1362px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(15%);
  text-align: center;
  white-space: nowrap;

  width: 532px;
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.AG4-CF /**********Cog Health BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: #d9a2ea;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 233.5px;  /******630px in total******/

  margin-left: 100px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-CFT     /********Cog Function TITLE*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center; 

  margin-top: 5px;

}

p.AG4-CFP /**********Cog Function PARAGRAPGH**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Emotional well-being****************/

div.AG4-HP /**********Emotional well-being BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2bbed;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 334px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-HPT     /********Emotional well-being Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-HPP /**********Emotional well-being paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/*********************Accidents***************/

div.AG4-ER /**********Academic Performance block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2c8e7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 215px;  /******630px in total******/

  margin-left: 535px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-ERT     /********Academic Performance Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-ERP /**********Academic Performance paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}


/*****************************************CAUSES / FACTORS**********************************************/

div.AG4-Causes /**********Causes Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #ef89ce;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 535px;
  
  position: absolute;
  left: 50%;
  top: 1362px; 
  transform:translateX(119%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black

}

/***************************Nighttime Fears****************/

div.AG4-ST /**********Nighttime Fears block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #f0a4d8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 781px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-STT     /********Nighttime Fears Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-STP /**********Nighttime Fears paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}


/***************************Overstimulation****************/

div.AG4-SA /**********Monitoring block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e7b2d7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 222px;  /******630px in total******/

  margin-left: 981px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-SAT     /********Overstimulation Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-SAP /**********Overstimulation paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;

}


/*******************Routine Change******************/

div.AG4-AS /**********Routine Change block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #ebc8e3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 230px;  /******630px in total******/

  margin-left: 1203px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-AST     /********Routine Change Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-ASP /**********Routine Change paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}


/*************************************************Tips*************************************************/

div.AG4-Tips     /**********Consistent Routine Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #887fdb;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 590px;
  
  position: absolute;
  left: 50%;
  top: 1692px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(62%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.AG4-CR                           /**********Mood and Beh block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #a39ce3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 251px;  /******630px in total******/

  margin-left: 440px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-CRT     /********Mood and Beh Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

ul.AG4-CRP /**********Mood and Beh paragraph**************/
{
  font-size: 1.3em;
  font-family: monospace;
  text-align: left;

  margin-left: -27px;
  margin-top: -12px;
  list-style-type: none;

  word-wrap: break-word;
}

/********************Environment****************/

div.AG4-Env /**********Environment block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #bcb7e8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 211px;  /******630px in total******/

  margin-left: 692px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-EnvT     /************Environment Title*************/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-EnvP /*************Environment paragraph****************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Limit Screen Time ****************/

div.AG4-LST /**********Limit Screen Time block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #d1ceee;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 245px;  /******630px in total******/

  margin-left: 903px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-LSTT     /********Limit Screen Time  Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-LSTP /**********Limit Screen Time  paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}


/**************************************************AG3-ES****************************************/
/**************************************************AG3-ES****************************************/
/**************************************************AG3-ES****************************************/
/**************************************************AG3-ES****************************************/
/**************************************************AG3-ES****************************************/
/**************************************************AG3-ES****************************************/

div.AG4-ES   /**********FULL block***********/
{
   position: absolute;
   top: 11100px;
}

h2.AG4-ES-Title
{
  font-size: 2.6em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 10px;
  /* margin-top: 225px; */

  border-radius: 3px;
  border-top: double 8px rgb(65, 0, 89);
  border-bottom: double 8px rgb(65, 0, 89);
  background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1175px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform: translateX(13%);
  text-align: center;
  white-space: nowrap;
}


h2.AG4-ES-subT
{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 5px;

 border:2px solid #145858;
 border-radius: 3px;
 border-color: black;
 background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1273px; /*The higher the px, the lower down the page */
  transform: translateX(22%);
  text-align: center;
  white-space: nowrap;

}


/*************************************************DOES**********************************************/

div.AG4-Does     /**********Does Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #b883d7;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  
  position: absolute;
  left: 50%;
  top: 1362px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(15%);
  text-align: center;
  white-space: nowrap;

  width: 532px;
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.AG4-PH /**********Cognitive Development BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: #d9a2ea;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 233.5px;  /******630px in total******/

  margin-left: 100px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-PHT     /********Cognitive Development TITLE*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  text-align: center;
  margin-top: 5px;

}

p.AG4-PHP /**********Cognitive Development PARAGRAPGH**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;


word-wrap: break-word;
}

/********************Emotional Regulation****************/

div.AG4-EWB /**********Emo Reg BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2bbed;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 334px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-EWBT     /********Emo Reg Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-EWBP /**********Emo Reg paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Physical Growth****************/

div.AG4-AP /**********Physical Health block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2c8e7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 215px;  /******630px in total******/

  margin-left: 535px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-APT     /********Physical Health Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-APP /**********Physical Health paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}







/*****************************************MAINTAIN**********************************************/

div.AG4-Maintain /**********Maintain Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #ef89ce;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 535px;
  
  position: absolute;
  left: 50%;
  top: 1362px; 
  transform:translateX(119%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black

}


/***************************Consistency****************/

div.AG4-Con /**********Cons block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #f0a4d8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 781px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-ConT     /********Cons Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-ConP /**********Cons paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}



/***************************Monitoring****************/

div.AG4-Mon /**********Monitoring block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e7b2d7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 222px;  /******630px in total******/

  margin-left: 981px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-MonT     /********Mon Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-MonP /**********Mon paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;

}



/*******************Addressing******************/

div.AG4-Add /**********Addressing block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #ebc8e3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 230px;  /******630px in total******/

  margin-left: 1203px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-AddT     /********Add Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-AddP /**********Add paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}



/*************************************************BENEFITS*************************************************/

div.AG4-Benefits     /**********Mood and Behaviour Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #887fdb;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 590px;
  
  position: absolute;
  left: 50%;
  top: 1692px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(62%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.AG4-AcP                            /**********Improved Behaviour block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #a39ce3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 251px;  /******630px in total******/

  margin-left: 440px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-AcPT     /********Improved Behaviour Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-AcPP /**********Improved Behaviour paragraph**************/
{
  font-size: 1.3em;
  font-family: monospace;
  text-align: center;
  
  word-wrap: break-word;
}

/********************Immune System****************/

div.AG4-IS /**********Immune System block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #bcb7e8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 211px;  /******630px in total******/

  margin-left: 692px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-IST     /************Immune System Title*******8******/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-ISP /*************Immune System paragraph****************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Learning and Memory****************/

div.AG4-MB /**********Learning and Memory block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #d1ceee;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 245px;  /******630px in total******/

  margin-left: 903px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.AG4-MBT     /********Learning and Memory Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.AG4-MBP /**********Learning and Memory paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;


word-wrap: break-word;
}



/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/
/*************************************************TOO MUCH SLEEP*************************************************/



div.TMS4   /**********FULL block***********/
{
 position: absolute;
 top: 12200px;
}

h2.TMS4-Title
{
  font-size: 2.6em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 10px;
  /* margin-top: 225px; */

  border-radius: 3px;
  border-top: double 8px rgb(65, 0, 89);
  border-bottom: double 8px rgb(65, 0, 89);
  background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1175px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform: translateX(5%);
  text-align: center;
  white-space: nowrap;
}


h2.TMS4-subT
{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(0, 0, 93);
  padding: 5px;

 border:2px solid #145858;
 border-radius: 3px;
 border-color: black;
 background-color: #d6f4f4;

  position: absolute;
  left: 50%;
  top: 1273px; /*The higher the px, the lower down the page */
  transform: translateX(23%);
  text-align: center;
  white-space: nowrap;

}

/*************************************************EFFECT**********************************************/


div.TMS4-Eff     /**********Does Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #b883d7;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  
  position: absolute;
  left: 50%;
  top: 1362px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(15%);
  text-align: center;
  white-space: nowrap;

  width: 532px;
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.TMS4-RA /**********Behavioural Issues BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: #d9a2ea;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 233.5px;  /******630px in total******/

  margin-left: 100px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS4-RAT     /********Behavioural Issues TITLE*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  text-align: center;
  margin-top: 5px;

}

p.TMS4-RAP /**********Behavioural Issues PARAGRAPGH**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Mood Chnages****************/

div.TMS4-Be /**********Mood Chnages BLOCK**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2bbed;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 334px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS4-BeT     /********Mood Changes Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS4-BeP /**********Mood Changes paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Cognitive Function****************/

div.TMS4-IS /**********Cognitive Function block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e2c8e7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 215px;  /******630px in total******/

  margin-left: 535px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS4-IST     /********Cognitive Function Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS4-ISP /**********Cognitive Function paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}




/*****************************************CAUSES / FACTORS**********************************************/

div.TMS4-Causes /**********Causes Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #ef89ce;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 535px;
  
  position: absolute;
  left: 50%;
  top: 1362px; 
  transform:translateX(119%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black

}


/***************************Separation Anxiety****************/

div.TMS4-SP /**********Separation Anxiety block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #f0a4d8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 200px;  /******630px in total******/

  margin-left: 781px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS4-SPT     /********Separation Anxiety Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS4-SPP /**********Separation Anxiety paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}



/***************************Teething****************/

div.TMS4-ST /**********Teething block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #e7b2d7;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 222px;  /******630px in total******/

  margin-left: 981px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS4-STT     /********Teething Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS4-STP /**********Teething paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;

}



/*******************Routine Change******************/

div.TMS4-St /**********Addressing block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #ebc8e3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 230px;  /******630px in total******/

  margin-left: 1203px;
  position: absolute;
  top: 1399px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS4-StT     /********Routine Change Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  text-align: center;
  margin-top: 5px;

}

p.TMS4-StP /**********Routine Change paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

list-style-type: none;
word-wrap: break-word;
}



/*************************************************TIPS*************************************************/

div.TMS4-Tips     /**********Tips Big Title**************/
{
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 93);
  background-color: #887fdb;

  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 60px;
  padding-left: 60px;
  width: 590px;
  
  position: absolute;
  left: 50%;
  top: 1692px; /***Lower px, higher up page**** Higher px. lower down page**/
  transform:translateX(62%);
  text-align: center;
  white-space: nowrap;

  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black
}

div.TMS4-SS                            /**********Consistent Routine block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #a39ce3;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 251px;  /******630px in total******/

  margin-left: 440px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS4-SST     /********Consistent Routine Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS4-SSP /**********Consistent Routine paragraph**************/
{
  font-size: 1.3em;
  font-family: monospace;
  text-align: center;
  
  word-wrap: break-word;
}

/********************Environment****************/

div.TMS4-Env /**********Environment block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #bcb7e8;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 211px;  /******630px in total******/

  margin-left: 692px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS4-EnvT     /************Environment Title*******8******/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS4-EnvP /*************Environment paragraph****************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;

word-wrap: break-word;
}

/********************Limit Screen Time****************/

div.TMS4-Te /**********Limit Screen Time block**************/
{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #d1ceee;
  
  
  border:1px solid #030e0e;
  border-radius: 3px;
  border-color: black;
  padding-top: 1px;
  
  width: 245px;  /******630px in total******/

  margin-left: 903px;
  position: absolute;
  top: 1729px; /***Lower px, higher up page**** Higher px. lower down page**/

}

h3.TMS4-TeT     /********Limit Screen Time Title*********/
{
  font-size: 1.3em;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  margin-top: 5px;

}

p.TMS4-TeP /**********Limit Screen Time paragraph**************/
{
font-size: 1.3em;
font-family: monospace;
text-align: center;


word-wrap: break-word;
}